.request {
  padding: 10px;
  height: 80px;
}

.request span{
  padding: 5px 20px;
}

.get {
  background-color: #0a0
}

.post {
  background-color: #00a
}

.put {
  background-color: #a0a
}

.delete {
  background-color: #a00
}



.railoscopy #page-wrapper{
  padding: 0 10px;
}

.ac-container.panel-body {
  padding: 10px 0;
}
